html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

* { Box-sizing: Border-box; }

html, body {

    height: 100%;
}

body {
    line-height: 1;
    font-family: 'Open Sans';
    font-size: 2.5rem;
    color: #656d78;


}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 5px;
    background-color: #656d78;
;
}

::-webkit-scrollbar-thumb:hover{
    background-color:lightgray;
}

::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0;
}

::-webkit-scrollbar{
    width: 5px;
}




a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.apps a,
.contacts a,
.personal-menu a {
    padding: 0.4rem 0;
    display: block;
}

h1 {
    display: inline-block;
}

strong {
    font-weight: bold ;
}

span {
    color: inherit;
    vertical-align: 1.1rem;
    padding-left: 0.9rem;
}

.wrap{
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

.header {
    padding: 0 0.5rem;
    height: 7rem;
    position: relative;
    background-color: white;
    z-index: 1;
}

.main-icon {
    color: #333333;
    font-weight: lighter;
    float: left;
    padding: 1.7rem 0 0 0;
    width: 14rem;
}


.bizapp {
    vertical-align: 0.9rem;
    padding-left: 0.7rem;
}

.main-feed {
    height:100%;
    float: left;
    color: #5a4dc6;
    border-bottom: 0.2rem solid #5a4dc6;
    padding: 1rem 0 0 0;
    font-weight: 700;
    width: 12rem;
}

.main-feed span{
    display: inline-block;
    width: 8rem;
    vertical-align: 0;
}

.follows {
    width: calc(100% - 47rem);
    height: 100%;
    padding-top: 1.5rem;
    float: left;
    overflow: hidden;
    position: relative;
}

.somebody {
    float: left;
    width: auto;
    height: 100%;
    padding: 0 3.6% 0 4.8%;
    font-size: 2rem;
}

.around {
    border-radius: 2rem;
}

img.around {
    height: 4rem;
    width: 4rem;
}

.close-button {
    background-image: url("images/close.jpg");
    height: 2rem;
    width: 2rem;
    margin-top: 1rem;
    margin-left: 0.9rem;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    border: none;
    float: right;
}

.user {
    padding: 1.5rem 0 0 0;
    float: right;
    width: 21rem;
}

.user a {
    height: 3.6rem;
    width: calc(100% - 4.1rem);
}

.cogwheel-button,
.dropdown-button,
.add-button-1,
.add-button-2,
.else-button{
    height: 4rem;
    width: 4rem;
    background-size: 4rem 4rem;
    background-repeat: no-repeat;
    border: none;
}

.else-button {
    margin-right: 1rem;
    float: right;
    background-image: url("images/else.jpg");
    margin-bottom: 2rem;
}

.dropdown-button {
    background-image: url("images/dropdown.jpg");
    float: right;
}

.container {
    height: calc(100% - 7rem);
    background-color: white;
    padding: 0 7%;
}

.left-sidebar {
    padding: 0 10rem 0 0;
    height: 100%;
    position: absolute;
    background-color: rgb(90, 77, 198);
    left: calc(7% - 30rem);
    width: 30rem;
    border-top: 1px solid rgb(204,207,216);
    opacity: 0.1;
    top: 0;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 0;
}

.left-sidebar:hover {
    padding-right: 0;
    opacity: 1;
    left: 0;
    z-index: 2;
    background-color: #f6f7fb;
}

.apps {
    width: 100%;
    min-height: 30%;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem 4rem 2rem 1.5rem;
}

.company-icon img {
    width: 100%;
}

.apps img,
.personal-menu img{
    width: 4rem;
    height: 4rem;
}

.titles {
    font-family: "Open Sans Condensed";
    vertical-align: 0.6rem;
    margin-right: 8.1rem;
    padding-bottom: 2.1rem;
    font-size: 3rem;
    color: #333333;
}

.add-button-1 {
    float: right;
    background-image: url("images/add.jpg");
}

.apps .titles {
    padding-top: 0.6rem;
    padding-bottom: 2.2rem;
}

.contacts {
    max-height: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2.6rem 4rem 2rem 1.5rem;
}

.left-sidebar:hover .contacts {
    border-top: 1px solid rgb(204,207,216);
}

.right-sidebar {
    height: 100%;
    position: absolute;
    right: calc(7% - 30rem);
    width: 30rem;
    top: 0;
    background-color: rgb(90, 77, 198);
    opacity: 0.1;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;
    z-index: 0;
    padding: 0 0 0 10rem;
}

.right-sidebar:hover {
    padding-left: 0rem;
    background-color: #f6f7fb;
    opacity: 1;
    right: 0;
    z-index: 2;
}

.company-icon {
    height: 32rem;
    padding: 2rem 2.1rem 0 4rem;
}

.company-icon p{
    display: inline-block;
    padding-top: 1.6rem;
    color: #434a54;
}

.cogwheel-button{
    float: right;
    margin-top: 0.8rem;
    background-image: url("images/cogwheel.jpg");
}

.personal-menu {
    overflow-y: scroll;
    overflow-x: hidden;
    height:calc(100% - 32rem);
    width: 100%;
    padding: 1.6rem 0 1rem 4rem;
}

.right-sidebar:hover .personal-menu {
    border-top: 1px solid rgb(204,207,216);
}

.content-bar {
    height: 100%;
    padding: 0 0.5rem 0 0;
    border: 1px solid rgb(204,207,216);
    border-bottom: none;
}

.post-box {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc( 100% - 14rem);
    padding: 0 0.6rem 0 0.9rem;
}


.post {
    margin: 1rem 1rem 0 1rem;
    color: rgb(171, 175, 186);
    border-bottom: 1px solid rgb(204,207,216);
    padding-bottom: 1.9rem;
    width: 98%;
}

.post:last-child {
    border-bottom: none;
}

.reply-box {
    border-top: 1px solid rgb(204,207,216);
    height: 14rem;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: calc(100% + 0.5rem);
    background-color: rgb(246,247, 251);
}

.reply-form {
    height: 100%;
    width: 100%;
    padding: 1rem;
    color: white;
}

.header-post {
    padding-top: 0.5rem;
    height: 6rem;
    border-bottom: 1px solid rgb(204,207,216);
}

.author {
    color: #656d78;
    float: left;
    width: calc(100% - 12.5rem);
    font-size: 3rem;
    line-height: 6rem;
}

.author a{
    width: 100%;
}

.author span,
.user span,
.contacts span{
    vertical-align: 0.3rem;
    line-height: 3.5rem;
    display: inline-block;
    width: calc(100% - 4.1rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time {
    float: right;
    width: 12.3rem;
    font-size: 2rem;
    color: #ccd0d9;
    padding-top: 0.9rem;
    padding-right: 0.1rem;
}

.text {
    font-style: italic;
    color: rgb(171,175,186);
    font-size: 2rem;
    padding-top: 1.6rem;
    padding-bottom: 1.5rem;
}

.text img {
    padding: 0.5rem 0 1.1rem;
    width: 100%;
}

.like{
    color: #5a4dc6;
}

.reply-text {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    vertical-align: text-top;
    resize: none;
    padding: 1.7rem 1.7rem 1.7rem 1.9rem;
    font-size: 2rem;
    border: 1px solid #ccd0d9;
    word-spacing: -3px;
}

.submit-button {
    font-size: 2rem;
    position: absolute;
    height: 4rem;
    width: 8rem;
    right: 2.9rem;
    bottom: 2.8rem;
    background-color: #5a4dc6;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
}

.add-button-2 {
    position: absolute;
    left: 2.9rem;
    bottom: 2.8rem;
    background-image: url("images/add.jpg");
}

.status {
    position: absolute;
    bottom: 0.1em;
    border-radius: 1em;
    border: 0.1em solid white;
    height: 0.5em;
    width: 0.5em;
    left: 1.05em;
}

.online {
    background-color: #a0d468;
}

.away {
    background-color: #ffce55;
}

.busy {
    background-color: #db4453;
}

.offline{
    background-color: #ccd0d9;
}

.statused-image {
    position: relative;
    display: inline-block;
}