html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    font-size: 100%;
    font: inherit;

}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

* { Box-sizing: Border-box; }

html, body {
    height: 100%;
}

body {
    line-height: 1;
    font-family: 'Open Sans';
    color: #656d78;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 5px;
    background-color: #656d78;
;
}

::-webkit-scrollbar-thumb:hover{
    background-color:lightgray;
}

::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0;
}

::-webkit-scrollbar{
    width: 5px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.apps a,
.personal-menu a {
    display: block;
}

h1 {
    display: inline-block;
}

strong {
    font-weight: bold ;
}

span {
    color: inherit;
}

.wrap {
    height: 100%;
}

.header {
    position: relative;
    background-color: white;
}

.main-icon {
    font-weight: lighter;
    float: left;
}

.main-feed {
    height:100%;
    float: left;
    color: #5a4dc6;
    font-weight: 700;
}

.follows {
    float: left;
    overflow: hidden;
    position: relative;
}

.somebody {
    float: left;
}

.close-button {
    background-image: url("images/close.jpg");
    background-repeat: no-repeat;
    border: none;
    float: right;
}

.user {
    float: right;
}

.else-button {
    background-image: url("images/else.jpg");
}

.dropdown-button {
    background-image: url("images/dropdown.jpg");
    float: right;
}

.container {
    background-color: white;
}

.left-sidebar {
    height: 100%;
    border-top: 1px solid rgb(204,207,216);

}

.apps {
    overflow-y: scroll;
    overflow-x: hidden;
}

.company-icon p{
    display: inline-block;
    color: #434a54;
}

.titles {
    font-family: "Open Sans Condensed";
    color: #333333;
}

.add-button-1 {
    float: right;
    background-image: url("images/add.jpg");
}

.contacts {
    max-height: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right-sidebar {
    height: 100%;
}

.cogwheel-button,
.dropdown-button,
.add-button-1,
.add-button-2,
.else-button{
    background-repeat: no-repeat;
    border: none;
}

.cogwheel-button{
    float: right;
    background-image: url("images/cogwheel.jpg");
}

.personal-menu {
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-bar {
    height: 100%;
    border: 1px solid rgb(204,207,216);
    border-bottom: none;
}

.post-box {
    overflow-y: scroll;
    overflow-x: hidden;
}

.post {
    color: rgb(171, 175, 186);
    border-bottom: 1px solid rgb(204,207,216);
    width: 98%;
}

.post:last-child {
    border-bottom: none;
}

.reply-box {
    border-top: 1px solid rgb(204,207,216);
    bottom: 0;
    background-color: rgb(246,247, 251);
}

.reply-form {
    height: 100%;
    width: 100%;
    color: white;
}

@media (min-device-width: 501px) {

    body {
        background: -webkit-linear-gradient(#746da4,#344366) no-repeat;
        padding-top: 8.2%;
        padding-bottom: 8.2%;
        font-size: 13px;
        border-collapse: collapse;
    }

    .contacts a{
        padding: 2px 0 3px 0;
    }

    .apps a,
    .personal-menu a {
        padding: 4px 0;
    }

    h1 {
        font-size: 20px;
        color: #333333;
    }

    button {
        cursor: pointer;
    }

    span {

        vertical-align: 11px;
        padding-left: 9px;
    }

    .wrap{
        min-width: 750px;
        width: 83.6%;
        margin: auto;
        border-radius: 5px;
        box-shadow: 0 0 30px rgba(0,0,0,0.5);
    }

    .header {
        border-radius: 6px 6px 0 0;
        height: 60px;
    }

    .main-icon {
        width: 200px;
        height:60px;
        padding: 15px 5px 20px 21px;
    }

    .bizapp {
        vertical-align: 9px;
        padding-left: 7px;
    }

    .bizapp img {
        width: 31px;
        height: 31px;
    }

    .main-feed {
        width: 128px;
        margin-left: 20px ;
        border-bottom: 2px solid #5a4dc6;
        padding: 14px 10px 10px 0;
    }

    .follows {
        width: calc(100% - 549px);
    }

    .somebody {
        padding: 14px 4.2% 0px 4.5%;
        font-size: 13px;
    }

    .around {
        border-radius: 20px;
    }

    .close-button {
        height: 16px;
        width: 16px;
        margin-top: 7px;
        margin-left: 9px;
        background-size: 16px 16px;
    }

    .user {
        padding: 13px 0 0 20px;
        width: 200px;
    }

    .user a {
        height: 36px;
    }

    .else-button {
        position: absolute;
        right: 0;
        top:14px;
    }

    .user span{
        padding-left: 11px;
    }

    .dropdown-button {
        margin-right: 20px;
    }


    .container {
        height: calc(100% - 60px);
        border-radius: 0 0 6px 6px;
    }

    .left-sidebar {
        background-color: #f6f7fb;
        float: left;
        width: 200px;
        border-radius: 0 0 0 5px;
    }

    .apps {
        padding: 20px 15px 24px 20px;
        max-height: 50%;
    }

    .company-icon img {
        height: 160px;
        width: 160px;
    }

    .apps img,
    .personal-menu img,
    img.around{
        width: 30px;
        height: 30px;
    }

    .titles {
        vertical-align: 6px;;
        margin-right: 81px;
        padding-bottom: 21px;
        font-size: 18px;
    }


    .apps .titles {
        padding-top: 6px;
        padding-bottom: 22px;
    }

    .apps span
    {
        padding-left: 10px;
    }

    .personal-menu span {
        padding-left: 11px;
    }

    .contacts {
        border-top: 1px solid rgb(204,207,216);
        padding: 26px 10px 0 20px;
    }

    .contacts span {
        padding-left: 10px;
        vertical-align: 10px;
    }

    .right-sidebar {
        background-color: #f6f7fb;
        float: left;
        width: 200px;
        border-top: 1px solid rgb(204,207,216);
        border-radius: 0 0 6px 0;
    }

    .company-icon {
        height: 230px;
        padding: 20px 21px 0 20px;
    }

    .company-icon p{
        padding-top: 16px;
    }

    .cogwheel-button{
        margin-top: 8px;
    }

    .personal-menu {
        border-top: 1px solid rgb(204,207,216);
        height:calc(100% - 230px);
        padding: 16px 20px;
    }

    .content-bar {
        float: left;
        width: calc( 100% - 400px);
        padding: 0 5px 0 0;
    }

    .post-box {
        height: calc( 100% - 140px);
        padding: 0px 6px 0px 9px;
    }

    .post {
        margin: 10px 10px 0 10px;
        padding-bottom: 19px;
    }


    .reply-box {
        height: 140px;
        padding: 10px;
        width: calc(100% + 5px);
    }

    .reply-form {
        padding: 10px;
        position: relative;
    }

    .header-post {
        padding-top: 7px;
        width: 100%;
        height: 60px;
        border-bottom: 1px solid rgb(204,207,216);
    }

    .author {
        color: #656d78;
        float: left;
        width: calc(100% - 75px);
        height: 100%;
    }

    .author span,
    .user span,
    .contacts span{
        vertical-align: sub;
        line-height: 35px;
        display: inline-block;
        width: calc(100% - 35px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .user a{
        width: calc(100% - 50px);
    }

    .contacts a, .author a{
        width: 100%;
    }

    .time {
        width: 70px;
        text-align: right;
        float: right;
        font-size: 11px;
        color: #ccd0d9;
        padding-top: 9px;
        padding-right: 1px;
    }

    .text {
        font-style: italic;
        color: rgb(171,175,186);
        padding-top: 16px;
        padding-bottom: 15px;
        line-height: 18px;
    }

    .text img {
        padding: 5px 0 11px;
        max-width: 100%;
    }

    .like{
        color: #5a4dc6;
    }

    .reply-text {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        resize: none;
        padding: 17px 17px 17px 19px;
        font-size: 12px;
        border: 1px solid #ccd0d9;
        word-spacing: -3px;
    }

    .submit-button {
        position: absolute;
        height: 30px;
        width: 80px;
        right: 29px;
        bottom: 28px;
        background-color: #5a4dc6;
        border-radius: 5px;
        color: white;
        border: none;
        font-weight: bold;
    }

    .add-button-2 {
        position: absolute;
        left: 29px;
        bottom: 28px;
        background-image: url("images/add.jpg");
    }

    .else-button,
    .add-button-1,
    .add-button-2,
    .dropdown-button,
    .cogwheel-button {
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
    }


    .status {
        position: absolute;
        left: 20px;
        bottom: 1px;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        border: 2px solid white;
    }

    .online {
        background-color: #a0d468;
    }

    .away {
        background-color: #ffce55;
    }

    .busy {
        background-color: #db4453;
    }

    .offline{
        background-color: #ccd0d9;
    }

    .statused-image {
        position: relative;
        display: inline-block;
    }
}

@media (max-device-width: 500px) {


    body {
        font-size: 2.5rem;
    }

    .apps a,
    .personal-menu a {
        padding: 0.4rem 0;
    }

    .contacts a{
        padding: 0.4rem 0;
        display: block;
    }

    span {

        vertical-align: 1.1rem;
        padding-left: 0.9rem;
    }

    .wrap{
        overflow-x: hidden;
        position: relative;
    }

    .header {
        padding: 0 0.5rem;
        height: 7rem;
        z-index: 1;
    }

    .main-icon {
        color: #333333;
        padding: 1.7rem 0 0 0;
        width: 14rem;
    }

    .bizapp {
        vertical-align: 0.9rem;
        padding-left: 0.7rem;
    }

    .main-feed {
        border-bottom: 0.2rem solid #5a4dc6;
        padding: 1rem 0 0 0;
        width: 12rem;
    }

    .main-feed span{
        display: inline-block;
        width: 8rem;
        vertical-align: 0;
    }

    .follows {
        width: calc(100% - 47rem);
        height: 100%;
        padding-top: 1.5rem;
    }

    .somebody {
        width: auto;
        height: 100%;
        padding: 0 3.6% 0 4.8%;
        font-size: 2rem;
    }

    .around {
        border-radius: 2rem;
    }

    img.around {
        height: 4rem;
        width: 4rem;
    }

    .close-button {
        height: 2rem;
        width: 2rem;
        margin-top: 1rem;
        margin-left: 0.9rem;
        background-size: 2rem 2rem;
    }

    .user {
        padding: 1.5rem 0 0 0;
        width: 21rem;
    }

    .user a {
        height: 3.6rem;
        width: calc(100% - 4.1rem);
    }

    .cogwheel-button,
    .dropdown-button,
    .add-button-1,
    .add-button-2,
    .else-button{
        height: 4rem;
        width: 4rem;
        background-size: 4rem 4rem;
    }

    .else-button {
        margin-right: 1rem;
        float: right;
        margin-bottom: 2rem;
    }


    .container {
        height: calc(100% - 7rem);
        padding: 0 7%;
    }

    .left-sidebar {
        padding: 0 10rem 0 0;
        position: absolute;
        background-color: rgb(90, 77, 198);
        left: calc(7% - 30rem);
        width: 30rem;
        opacity: 0.1;
        top: 0;
        -webkit-transition: left 0.3s;
        -moz-transition: left 0.3s;
        transition: left 0.3s;
        z-index: 0;
    }

    .left-sidebar:hover {
        padding-right: 0;
        opacity: 1;
        left: 0;
        z-index: 2;
        background-color: #f6f7fb;
    }

    .apps {
        width: 100%;
        min-height: 30%;
        height: auto;
        padding: 2rem 4rem 2rem 1.5rem;
    }

    .company-icon img {
        width: 100%;
    }

    .apps img,
    .personal-menu img{
        width: 4rem;
        height: 4rem;
    }

    .titles {
        vertical-align: 0.6rem;
        margin-right: 8.1rem;
        padding-bottom: 2.1rem;
        font-size: 3rem;
    }


    .apps .titles {
        padding-top: 0.6rem;
        padding-bottom: 2.2rem;
    }

    .contacts {
        padding: 2.6rem 4rem 2rem 1.5rem;
    }

    .left-sidebar:hover .contacts {
        border-top: 1px solid rgb(204,207,216);
    }

    .right-sidebar {
        position: absolute;
        right: calc(7% - 30rem);
        width: 30rem;
        top: 0;
        background-color: rgb(90, 77, 198);
        opacity: 0.1;
        -webkit-transition: right 0.3s;
        -moz-transition: right 0.3s;
        transition: right 0.3s;
        z-index: 0;
        padding: 0 0 0 10rem;
    }

    .right-sidebar:hover {
        padding-left: 0rem;
        background-color: #f6f7fb;
        opacity: 1;
        right: 0;
        z-index: 2;
    }

    .company-icon {
        height: 32rem;
        padding: 2rem 2.1rem 0 4rem;
    }

    .company-icon p{
        padding-top: 1.6rem;
    }

    .cogwheel-button{
        margin-top: 0.8rem;
    }

    .personal-menu {
        height:calc(100% - 32rem);
        width: 100%;
        padding: 1.6rem 0 1rem 4rem;
    }

    .right-sidebar:hover .personal-menu {
        border-top: 1px solid rgb(204,207,216);
    }

    .content-bar {
        padding: 0 0.5rem 0 0;
    }

    .post-box {
        max-height: calc( 100% - 14rem);
        padding: 0 0.6rem 0 0.9rem;
    }

    .post {
        margin: 1rem 1rem 0 1rem;
        padding-bottom: 1.9rem;
    }



    .reply-box {
        height: 14rem;
        padding: 1rem;
        position: relative;
        width: calc(100% + 0.5rem);
    }

    .reply-form {
        padding: 1rem;
    }

    .header-post {
        padding-top: 0.5rem;
        height: 6rem;
        border-bottom: 1px solid rgb(204,207,216);
    }

    .author {
        color: #656d78;
        float: left;
        width: calc(100% - 12.5rem);
        font-size: 3rem;
        line-height: 6rem;
    }

    .author a{
        width: 100%;
    }

    .author span,
    .user span,
    .contacts span{
        vertical-align: 0.3rem;
        line-height: 3.5rem;
        display: inline-block;
        width: calc(100% - 4.1rem);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .time {
        float: right;
        width: 12.3rem;
        font-size: 2rem;
        color: #ccd0d9;
        padding-top: 0.9rem;
        padding-right: 0.1rem;
    }

    .text {
        font-style: italic;
        color: rgb(171,175,186);
        font-size: 2rem;
        padding-top: 1.6rem;
        padding-bottom: 1.5rem;
    }

    .text img {
        padding: 0.5rem 0 1.1rem;
        width: 100%;
    }

    .like{
        color: #5a4dc6;
    }

    .reply-text {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        vertical-align: text-top;
        resize: none;
        padding: 1.7rem 1.7rem 1.7rem 1.9rem;
        font-size: 2rem;
        border: 1px solid #ccd0d9;
        word-spacing: -3px;
    }

    .submit-button {
        font-size: 2rem;
        position: absolute;
        height: 4rem;
        width: 8rem;
        right: 2.9rem;
        bottom: 2.8rem;
        background-color: #5a4dc6;
        border-radius: 0.5rem;
        color: white;
        font-weight: bold;
        padding: 0.5rem;
    }

    .add-button-2 {
        position: absolute;
        left: 2.9rem;
        bottom: 2.8rem;
        background-image: url("images/add.jpg");
    }

    .status {
        position: absolute;
        bottom: 0.1em;
        border-radius: 1em;
        border: 0.1em solid white;
        height: 0.5em;
        width: 0.5em;
        left: 1.05em;
    }

    .online {
        background-color: #a0d468;
    }

    .away {
        background-color: #ffce55;
    }

    .busy {
        background-color: #db4453;
    }

    .offline{
        background-color: #ccd0d9;
    }

    .statused-image {
        position: relative;
        display: inline-block;
    }
}